/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
    color: #263e3d;
    font-family: 'Lora', serif;
    background-color: #151F28;
}


/* Header */
header {
    width: 90%;
    margin: 0 auto;
}

.logo {
    line-height: 80px;
}

.logo a{
    font-size: 1.3em;
    color: #eee;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;

}

.logo a:hover {
    color: #00EA92;
}


nav {
    display: flex;
    justify-content: space-between;
    /* margin: 0 10%; */
}

nav ul {
    display: flex;
    line-height: 80px;
}

nav ul li {
    margin: 0 20px;
}



nav ul li a {
    color: #eeeeee;
    text-decoration: none;
}


/* headline */
.lefttriangle {
    position: absolute;
    opacity: 0.9;
    min-width: 100%;
    height: 700px;
    background-color: #233644;
    clip-path: polygon(0 60%, 85% 0, 0 0);
}




.screen, .glasses {
    animation: flash 3.5s ease-out infinite;
}

@keyframes flash {
    0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
        opacity:.99; 
      }
      20%,21.999%,63%,63.999%,65%,69.999% {
        opacity:0.4; 
      }
}


svg {
    width: 100%;
    z-index: 888;
}


.headline {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;   
    min-height: 80vh;
}

.animation-header {
    /* color: #e6e6e6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00EA92;
    font-family: 'Raleway', sans-serif;
    margin-top: 19%;
}

.animation-header div {
    margin-left: 2%;
}


.subhead {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 2.5em;
    position: relative;
    bottom: 30px;
    animation:showup 2.5s forwards 1; 
}

.subhead h1 {
    margin-bottom: 5%;
}

.welcome {
    font-size: 5em;
    animation: showupWelcome 2.5s forwards 1;
    font-family: 'Raleway', sans-serif;
}

.name {
    position: relative;
    bottom: 68px;
    right: 1px;
    font-size: 68px;
    animation: showupName 3.5s forwards 1 ;
    z-index: 888;
}

@keyframes showup {
    0% {opacity:0;}
    60% {opacity:1;}
    100% {opacity:1;}
}


@keyframes showupWelcome {
    0% {opacity:0;}
    60% {opacity:1;}
    100% {opacity:0;}
}


@keyframes showupName {
    0% {opacity:0;}
    70% {opacity:0;}
    100% {opacity:1;}
}

.about-btn {
    color: #eeeeee ;
    text-decoration: none;
    font-size: 0.5em;
    /* background-color: #dd9000; */
    padding: 10px 5px;

}

.about-btn:after{
    content: " ";
    width: 100%;
    border-bottom: 1px solid #00EA92;
    display: block;
    animation: underline 7s ease-in-out infinite;
}

.about-btn:hover {
    color: #aad1ec;
}



@keyframes underline{
    0% {width: 70px;} 
    60% {width: 170px;}
    100% {width: 70px;}
    

}


/* about */

.about-me {
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 150px;
    line-height: 1.6; 
}


.about-me h1 {
    z-index: 100;
    font-family: 'Lora', serif;
    color: #eeeeee;
    font-size: 120px;
    position: relative;
    top: 60px;
}

.about-content {
    padding: 5%;
    background-color: #1D2528;
    color: #eeeeee;
}
.about-content h3 {
  font-weight: bold;
}

/* work */

/* 
.work {
    margin-top: px;
} */

.work h1 {
    color: #eeeeee;
    font-size: 120px;
    position: relative;
    top: 30px; 
    z-index: 1000; 
}

.individual-work {
    display: flex;
    flex-direction: column;
  }

.single {
    width: 100%;
    height: 250px;
    flex: 1 auto;
}

.content-work {
  padding: 10px;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #eeeeee;
  background-color: #1b2942e7;
  border-bottom: 1px solid #10171a;
}
.box h2 {
      font-size: 42px;
}



/* footer */
footer {
  text-align: center;
  font-size: 16px;
  margin: 15px 0;
  color: #00EA92;

}



.socialmedia {
  margin: 0 5px;
  font-size: 1.2em;
  color: #00EA92;

}